@use "./abstracts" as *;

@forward "rescinded-policy";

.action {
    display: grid;
    align-items: start;
    padding: $spacing-300;
    border-radius: $spacing-050;
    border: 1px solid $gray-200;
    background-color: $gray-0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;

    &:hover {
        cursor: pointer;
    }

    &__header {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr auto;
        gap: $spacing-300;

        svg {
            transition: transform 0.3s ease;
        }
    }

    &__date {
        display: inline-block;
        padding-bottom: $spacing-100;
    }

    &__title {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: $spacing-200 $spacing-300;

        &-text {
            display: block;
            line-height: 1.1;
            font-weight: 400;
            letter-spacing: -0.025em;
            font-size: 1rem;
            transition: all 0.3s ease;

            @include mq(tablet) {
                font-size: 1.125rem;
            }
        }
    }

    &.open {
        @include mq(tablet) {
            padding: $spacing-500 $spacing-500;
        }

        .action {
            &__header {
                svg {
                    transform: rotate(180deg);
                }
            }

            &__title {
                &-text {
                    @include mq(tablet) {
                        font-size: 1.375rem;
                        transform: translateY(0);
                    }
                }
            }

            &__body {
                height: auto;
                cursor: default;
                overflow: visible;
            }

            &__footer {
                cursor: default;
            }
        }
    }

    &__body {
        height: 0;
        overflow: hidden;
        interpolate-size: allow-keywords;
        transition: height 0.3s ease, overflow 0.3s ease 300ms;

        &-wrapper {
            display: grid;
            gap: $spacing-500 $spacing-600;
            align-items: start;
            padding: $spacing-500 0;
            border-top: 1px solid $gray-100;
            margin-top: $spacing-300;
            @include mq(tablet) {
                grid-template-columns: repeat(2, minmax(0, 1fr));
            }
        }
    }

    &__details {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: $spacing-500 $spacing-600;

        .two-col {
            grid-column: span 2;
        }
    }

    &__detail {
        .sub-header {
            padding-bottom: $spacing-050;
        }
    }

    &__analysis {
        background: $gray-50;
        border: 1px solid $gray-200;
        border-radius: $spacing-050;
        padding: $spacing-400;

        &-header {
            display: inline-block;
            padding-bottom: $spacing-300;
        }

        &-list {
            display: grid;
            gap: $spacing-600;
            align-items: start;
        }

        .analysis-header {
            padding-bottom: $spacing-100;
        }
    }

    &__link {
        text-decoration: underline;
        display: inline-flex;
        align-items: center;
        gap: $spacing-200;
    }

    &__value {
        line-height: 1.2;
    }

    &__footer {
        display: flex;
        justify-content: flex-end;
        padding-top: $spacing-500;
        border-top: 1px solid $gray-200;

        @include mq(tablet) {
            padding-top: $spacing-300;
        }

        &-date {
            font-size: $type-size-200;
            color: $gray-500;
            font-style: italic;
        }
    }
}
