@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

$raleway: "Raleway", sans-serif;
$old-standard: "Old Standard TT", serif;
$pt-serif: "PT Serif", serif;
